#container{
    display: flex;
    height: 600px;
    width: 750px;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: solid;
    border-color: black;
}

.column{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.row {
    display: flex;
    background: white;
    height: 100%;
    width: 100%;
}

.inputColumn{
    display: flex;
}

.inputRow{
    display: flex;
}

#padControl{
    display: flex;
    flex-direction: column;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.erase{
    width: 100%;
    text-align: center;
}

.restart{
    width: 100%;
    text-align: center;
}

#main-container{
    display: flex;
    flex-direction: column;
}