.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-color: black;
    outline-style: solid;
    height: 600px;
    width: 1000px;
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: row;
}